h1 {
    padding: 40px;
}

p {
    margin: 10px 10px 10px 3px;
}

.place-preview{
    border:1px solid #41403e;
    margin: 30px;
    padding: 20px;
    width: 60%;
    border-radius: 5px;
}

.details-link {
    float: right;
}